
<div class="btn-group-vertical">

    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="Administration" asp-action="ListUsers"> List Users </a>
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="Administration" asp-action="ListRoles"> List Roles </a>
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="Account" asp-action="CountryList"> Country list </a>
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="Account" asp-action="CitiesList"> City list </a>

</div>


@*<ul class="nav nav-pills flex-column">
        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListUsers">List Users</a> </li>
        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">List Roles</a> </li>
        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CountryList">Country list</a> </li>
        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CitiesList">City list</a> </li>
    </ul>*@


