
<div class="btn-group-vertical">
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="product" asp-action="GetAllProducts">ProductsList</a>
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="product" asp-action="AddProduct">AddProduct</a>
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="Orders" asp-action="GetAllOrders">OrdersList</a>
    <a class="btn btn-primary" role="button" style="margin-bottom: 10px" asp-area="" asp-controller="Store" asp-action="GetAllStores">Warehouse</a>
    
</div>



