@{
    ViewBag.Title = "Order Area";
}


<h1> Admin Area </h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ProductAndOrderPartial" />
        </div>
        @*
            Saknas kolumn här. 
            Löser detta senare om tid finns.
         *@
    </div>
</div>

