@{
    ViewData["Title"] = "Info Page";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-4">Welcome to Group 5 Webshop solution.</h1>
            <br />
            <p class="display-6">
                All items in this webshop are fictitious and cannot be delivered.
                This is only a webshop project using MVC 5.0 Core, Entity Framework on top of Identity.
                As you can see, the contact information is also fake.
            </p>
        </div>

        <br />
        <br />

        <div class="row justify-content-evenly ">
            <div class="col-sm-4">
                <div class="container-sm">
                    <h4>WebShop address:</h4>
                    <br />
                    <h6>QuakRoad 99</h6>
                    <h6>Disneyland</h6>
                    <h6>555-99 Florida</h6>
                    <h6>USA</h6>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="container-sm">
                    <h4>WebShop contact:</h4>
                    <br />
                    <h6>Email: donald@duck.com</h6>
                    <h6>Phone: 555-1234231</h6>
                    <h6>Mobile: 555-1324321</h6>
                    <h6>Fax: 555-654321</h6>
                </div>
            </div>
        </div>
        <div class="text-center">
            <br />
            <h1 class="display-4">Please try it out...</h1>
        </div>
    </div>
</div>

